name: Test

on:
  push:
    branches: [main]
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: sus1
        run: |
          echo sus>amogus.txt 
# создать файл
# вставить текст в файл
      - name: sus2
        uses: softprops/action-gh-release@v1
        if: ${{ github.event_name == 'release'}}
        with:
          files: amogus.txt
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
# выгрузить файл в релиз
